
    <html>
      <head>
        <style>
          .image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
          }

          .image-container img {
            margin: 5px;
          }
        </style>
      </head>
      <body>
        <div class="image-container">
      <div>
        <a href="/items/3602390" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F03%2F16%2F18%2F49%2F3dc98eba-8fcb-45cc-a93a-20732528b746%2F93344_PDwejhtDJw0VcgM_qx7nEg.jpg" /></a><br>
        <span>Price: 159 000</span><br>
        <span>Location: Nəriman Nərimanov m.</span>
      </div>
    
      <div>
        <a href="/items/3546102" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F19%2F19%2F55%2F32%2F8a402561-db83-4cde-9e6c-e6ac4e891f72%2F79790_SSPZ0_LsaKpNx3rZiHoTkA.jpg" /></a><br>
        <span>Price: 209 000</span><br>
        <span>Location: Azadlıq Prospekti m.</span>
      </div>
    
      <div>
        <a href="/items/3615486" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F08%2F21%2F24%2F14%2Ff3305425-fe97-472f-8195-e60965a87396%2F43705_ZtdYbkYwQo1g_G8H0nFK8g.jpg" /></a><br>
        <span>Price: 40</span><br>
        <span>Location: Şah İsmayıl Xətai m.</span>
      </div>
    
      <div>
        <a href="/items/3608465" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F06%2F01%2F18%2F09%2Fd934cbee-5d2c-485f-b175-832b1672cf88%2F66223_oEwi2VeF5BG35GFW-EkDwQ.jpg" /></a><br>
        <span>Price: 132 000</span><br>
        <span>Location: Gənclik m.</span>
      </div>
    
      <div>
        <a href="/items/3479872" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F10%2F23%2F21%2F26%2Fcb4ad302-f55d-4079-9ee0-76eba0ee0bac%2F86695_xQgEUXNS_0QfCsyukq9hYA.jpg" /></a><br>
        <span>Price: 335 000</span><br>
        <span>Location: Nardaran q.</span>
      </div>
    
      <div>
        <a href="/items/3626047" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F13%2F15%2F56%2F29%2F9d01b467-5cd8-485f-bb9f-d570c4dd0c27%2F40068_zDCxXoLFX59RozPs6DYtwQ.jpg" /></a><br>
        <span>Price: 92 000</span><br>
        <span>Location: Abşeron r.</span>
      </div>
    
      <div>
        <a href="/yasayis-kompleksleri/274" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F04%2F12%2F09%2F51%2F26%2Fc827c50f-9793-4b2d-b9ea-67e64e93c569%2F52765__Xv__SiJXUdkwIEk9-Q6ZA.jpg" /></a><br>
        <span>Price: 533 785</span><br>
        <span>Location: Yasamal r.</span>
      </div>
    
      <div>
        <a href="/items/3619124" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F10%2F18%2F14%2F01%2F36841fd7-0a2e-4efa-bcc5-3a8a76d59dc6%2F82039_Wzp1BWt9AJfH4Yy4jOEV_w.jpg" /></a><br>
        <span>Price: 2 500</span><br>
        <span>Location: Elmlər Akademiyası m.</span>
      </div>
    
      <div>
        <a href="/items/3569078" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F17%2F19%2F18%2F01%2F3256b603-8a3e-4ca9-be8e-1f6b4c200878%2F79808_SbxV98NeYgGH745QFglvzA.jpg" /></a><br>
        <span>Price: 190 000</span><br>
        <span>Location: Memar Əcəmi m.</span>
      </div>
    
      <div>
        <a href="/items/3592200" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F28%2F14%2F38%2F07%2F0cf3a756-71de-461b-9601-ded61a6a609d%2F60333_xzT3U7X-gVPo6j_puIhQzg.jpg" /></a><br>
        <span>Price: 200</span><br>
        <span>Location: Mərdəkan q.</span>
      </div>
    
      <div>
        <a href="/items/3623189" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F12%2F14%2F21%2F24%2F987166e1-3e8a-4fe2-a2a3-19669a321a00%2F35507_448Ribw-Yh2z5_W60Cjs-Q.jpg" /></a><br>
        <span>Price: 820 000</span><br>
        <span>Location: Şüvəlan q.</span>
      </div>
    
      <div>
        <a href="/items/3590022" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F27%2F12%2F38%2F23%2F826f72ba-4320-4fbb-973d-a0b3c2edbc01%2F60321_wxfVQBIJBnU9WclIk-Z7IA.jpg" /></a><br>
        <span>Price: 150</span><br>
        <span>Location: Qəbələ</span>
      </div>
    
      <div>
        <a href="/items/3630835" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F15%2F17%2F09%2F51%2F23141d21-b43c-49d5-9f79-088d87b23300%2F82047_oNDTZSIYXCQGTLRPOP-COA.jpg" /></a><br>
        <span>Price: 74 500</span><br>
        <span>Location: Xırdalan</span>
      </div>
    
      <div>
        <a href="/items/3360715" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F03%2F21%2F02%2F56%2F35%2Fedad7eb1-0ca4-441c-8e4f-67618c192730%2F82245_3ItkmVhBksPnODVjxBD7DQ.jpg" /></a><br>
        <span>Price: 1 350 000</span><br>
        <span>Location: Buzovna q.</span>
      </div>
    
      <div>
        <a href="/items/3612817" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F07%2F17%2F35%2F53%2Fb21c8e36-1286-4ab7-ad17-341b0b080a77%2F43682_jrPoUVnN9mMfbloPZtksrg.jpg" /></a><br>
        <span>Price: 357 600</span><br>
        <span>Location: Şüvəlan q.</span>
      </div>
    
      <div>
        <a href="/items/3592845" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F28%2F22%2F16%2F36%2F0240d373-8df1-4866-8e48-06ea0c74cbf9%2F94691_QPGJeHMFaaejOdrAQIZZzg.jpg" /></a><br>
        <span>Price: 4 000</span><br>
        <span>Location: Masazır q.</span>
      </div>
    
      <div>
        <a href="/items/3526418" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F30%2F16%2F02%2F36%2F509203ad-a2bc-4c2f-8bef-3689956d7150%2F14256_eNTx8ydFNCZZJtT1Lmoing.jpg" /></a><br>
        <span>Price: 236 000</span><br>
        <span>Location: Masazır q.</span>
      </div>
    
      <div>
        <a href="/items/3468252" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F05%2F21%2F00%2F59%2F5296ff1c-49d2-40df-920f-bb07da9e0522%2F36585_CpR0gVS8xNrhv6rPB1jBgg.jpg" /></a><br>
        <span>Price: 370 000</span><br>
        <span>Location: İnşaatçılar m.</span>
      </div>
    
      <div>
        <a href="/items/3497330" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F24%2F20%2F56%2F20%2Fe0aeb683-c572-4c3f-b315-e96def32fac5%2F98867_7DAlhuR36vwCUnBu6oTmIA.jpg" /></a><br>
        <span>Price: 153 000</span><br>
        <span>Location: 20 Yanvar m.</span>
      </div>
    
      <div>
        <a href="/items/3523970" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F29%2F15%2F56%2F14%2F2ea339df-8407-490a-a4f8-a1ad618006b6%2F77266_MZ1EC6jw7NBUe3HKF6mLiw.jpg" /></a><br>
        <span>Price: 420 000</span><br>
        <span>Location: Siyəzən</span>
      </div>
    
      <div>
        <a href="/items/3600814" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F03%2F01%2F53%2F50%2F95ba3977-ac36-4d4b-9789-55d8212b6a46%2F99036_OwjavSS9nGqb8RVGdATyhA.jpg" /></a><br>
        <span>Price: 107 000</span><br>
        <span>Location: Hövsan q.</span>
      </div>
    
      <div>
        <a href="/items/3628776" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F14%2F17%2F36%2F49%2Fbaa3e192-64ff-4274-8905-776e7a987974%2F35460_9-jzFzDhtIu1lPculFQYSQ.jpg" /></a><br>
        <span>Price: 20 000</span><br>
        <span>Location: Müşfiqabad q.</span>
      </div>
    
      <div>
        <a href="/items/3613465" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F08%2F08%2F36%2F21%2F2d4ea819-a093-4219-acd4-4b9fdf78d9d2%2F74283_qCmtmG1-aP225aMNe3Sbgw.jpg" /></a><br>
        <span>Price: 120 000</span><br>
        <span>Location: Novxanı q.</span>
      </div>
    
      <div>
        <a href="/items/2005153" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2021%2F04%2F05%2F20%2F12%2F44%2F8f565e64-c20e-4b4b-9da5-83fef9263b78%2F24230_3CVCabWYen-H8vL1gWb7WQ.jpg" /></a><br>
        <span>Price: 400 000</span><br>
        <span>Location: Qaraçuxur q.</span>
      </div>
    
      <div>
        <a href="/yasayis-kompleksleri/274" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F04%2F12%2F09%2F51%2F26%2Fc827c50f-9793-4b2d-b9ea-67e64e93c569%2F52765__Xv__SiJXUdkwIEk9-Q6ZA.jpg" /></a><br>
        <span>Price: 337 960</span><br>
        <span>Location: Yasamal r.</span>
      </div>
    
      <div>
        <a href="/items/2820777" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2022%2F06%2F03%2F11%2F08%2F01%2F07273111-d6be-45d2-a41d-17d361f58ead%2F38447_bRn1ie81HjVUWnpM-CEbvA.jpg" /></a><br>
        <span>Price: 4 700 000</span><br>
        <span>Location: Bilgəh q.</span>
      </div>
    
      <div>
        <a href="/items/3574462" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F20%2F14%2F23%2F31%2F073d2d38-90ea-4a9a-bf13-34050598c4f6%2F40793_zl3FcxsWGF9nlqygiUi3KA.jpg" /></a><br>
        <span>Price: 139 000</span><br>
        <span>Location: İnşaatçılar m.</span>
      </div>
    
      <div>
        <a href="/items/3629648" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F15%2F10%2F55%2F41%2F4d2731bb-e553-4bc6-b188-6342fe89da40%2F82037__o3_xJ2zPJlOxq5SwerWmQ.jpg" /></a><br>
        <span>Price: 1 300</span><br>
        <span>Location: 8 Noyabr m.</span>
      </div>
    
      <div>
        <a href="/items/3619368" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F10%2F19%2F58%2F08%2F5aea9a2c-c0d5-4623-889d-b30b6a19d512%2F82129_MYNXEnxN7B8vG3_IfyW_9Q.jpg" /></a><br>
        <span>Price: 490 000</span><br>
        <span>Location: Mehdiabad q.</span>
      </div>
    
      <div>
        <a href="/items/2737803" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2022%2F04%2F17%2F13%2F53%2F31%2F540b225f-8222-4672-bd8c-1cde514cc5cb%2F54646_45xE9KOrr4ghfx9fgZV2mA.jpg" /></a><br>
        <span>Price: 350 000</span><br>
        <span>Location: Mərdəkan q.</span>
      </div>
    
      <div>
        <a href="/items/3586213" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F25%2F13%2F29%2F36%2Facbe7783-8164-4dec-bef8-e1b3199ea9fb%2F98892__EtRDbev-Lj4pcW0AW8NHA.jpg" /></a><br>
        <span>Price: 6 750</span><br>
        <span>Location: İçəri Şəhər m.</span>
      </div>
    
      <div>
        <a href="/items/3431679" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F04%2F19%2F16%2F55%2F20%2Fcf2e1dd4-81b7-4c3d-87db-c11cffca99ea%2F52080_nZvmBFqBT2LV6gtik3H3ZQ.jpg" /></a><br>
        <span>Price: 1 570</span><br>
        <span>Location: Yasamal r.</span>
      </div>
    
        </div>
      </body>
    </html>
    <html>
      <head>
        <style>
          .image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
          }

          .image-container img {
            margin: 5px;
          }
        </style>
      </head>
      <body>
        <div class="image-container">
      <div>
        <a href="/items/3602390" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F03%2F16%2F18%2F49%2F3dc98eba-8fcb-45cc-a93a-20732528b746%2F93344_PDwejhtDJw0VcgM_qx7nEg.jpg" /></a><br>
        <span>Price: 159 000</span><br>
        <span>Location: Nəriman Nərimanov m.</span>
      </div>
    
      <div>
        <a href="/items/3546102" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F19%2F19%2F55%2F32%2F8a402561-db83-4cde-9e6c-e6ac4e891f72%2F79790_SSPZ0_LsaKpNx3rZiHoTkA.jpg" /></a><br>
        <span>Price: 209 000</span><br>
        <span>Location: Azadlıq Prospekti m.</span>
      </div>
    
      <div>
        <a href="/items/3615486" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F08%2F21%2F24%2F14%2Ff3305425-fe97-472f-8195-e60965a87396%2F43705_ZtdYbkYwQo1g_G8H0nFK8g.jpg" /></a><br>
        <span>Price: 40</span><br>
        <span>Location: Şah İsmayıl Xətai m.</span>
      </div>
    
      <div>
        <a href="/items/3608465" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F06%2F01%2F18%2F09%2Fd934cbee-5d2c-485f-b175-832b1672cf88%2F66223_oEwi2VeF5BG35GFW-EkDwQ.jpg" /></a><br>
        <span>Price: 132 000</span><br>
        <span>Location: Gənclik m.</span>
      </div>
    
      <div>
        <a href="/items/3479872" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F10%2F23%2F21%2F26%2Fcb4ad302-f55d-4079-9ee0-76eba0ee0bac%2F86695_xQgEUXNS_0QfCsyukq9hYA.jpg" /></a><br>
        <span>Price: 335 000</span><br>
        <span>Location: Nardaran q.</span>
      </div>
    
      <div>
        <a href="/items/3626047" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F13%2F15%2F56%2F29%2F9d01b467-5cd8-485f-bb9f-d570c4dd0c27%2F40068_zDCxXoLFX59RozPs6DYtwQ.jpg" /></a><br>
        <span>Price: 92 000</span><br>
        <span>Location: Abşeron r.</span>
      </div>
    
      <div>
        <a href="/yasayis-kompleksleri/274" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F04%2F12%2F09%2F51%2F26%2Fc827c50f-9793-4b2d-b9ea-67e64e93c569%2F52765__Xv__SiJXUdkwIEk9-Q6ZA.jpg" /></a><br>
        <span>Price: 533 785</span><br>
        <span>Location: Yasamal r.</span>
      </div>
    
      <div>
        <a href="/items/3619124" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F10%2F18%2F14%2F01%2F36841fd7-0a2e-4efa-bcc5-3a8a76d59dc6%2F82039_Wzp1BWt9AJfH4Yy4jOEV_w.jpg" /></a><br>
        <span>Price: 2 500</span><br>
        <span>Location: Elmlər Akademiyası m.</span>
      </div>
    
      <div>
        <a href="/items/3569078" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F17%2F19%2F18%2F01%2F3256b603-8a3e-4ca9-be8e-1f6b4c200878%2F79808_SbxV98NeYgGH745QFglvzA.jpg" /></a><br>
        <span>Price: 190 000</span><br>
        <span>Location: Memar Əcəmi m.</span>
      </div>
    
      <div>
        <a href="/items/3592200" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F28%2F14%2F38%2F07%2F0cf3a756-71de-461b-9601-ded61a6a609d%2F60333_xzT3U7X-gVPo6j_puIhQzg.jpg" /></a><br>
        <span>Price: 200</span><br>
        <span>Location: Mərdəkan q.</span>
      </div>
    
      <div>
        <a href="/items/3623189" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F12%2F14%2F21%2F24%2F987166e1-3e8a-4fe2-a2a3-19669a321a00%2F35507_448Ribw-Yh2z5_W60Cjs-Q.jpg" /></a><br>
        <span>Price: 820 000</span><br>
        <span>Location: Şüvəlan q.</span>
      </div>
    
      <div>
        <a href="/items/3590022" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F27%2F12%2F38%2F23%2F826f72ba-4320-4fbb-973d-a0b3c2edbc01%2F60321_wxfVQBIJBnU9WclIk-Z7IA.jpg" /></a><br>
        <span>Price: 150</span><br>
        <span>Location: Qəbələ</span>
      </div>
    
      <div>
        <a href="/items/3630835" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F15%2F17%2F09%2F51%2F23141d21-b43c-49d5-9f79-088d87b23300%2F82047_oNDTZSIYXCQGTLRPOP-COA.jpg" /></a><br>
        <span>Price: 74 500</span><br>
        <span>Location: Xırdalan</span>
      </div>
    
      <div>
        <a href="/items/3360715" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F03%2F21%2F02%2F56%2F35%2Fedad7eb1-0ca4-441c-8e4f-67618c192730%2F82245_3ItkmVhBksPnODVjxBD7DQ.jpg" /></a><br>
        <span>Price: 1 350 000</span><br>
        <span>Location: Buzovna q.</span>
      </div>
    
      <div>
        <a href="/items/3612817" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F07%2F17%2F35%2F53%2Fb21c8e36-1286-4ab7-ad17-341b0b080a77%2F43682_jrPoUVnN9mMfbloPZtksrg.jpg" /></a><br>
        <span>Price: 357 600</span><br>
        <span>Location: Şüvəlan q.</span>
      </div>
    
      <div>
        <a href="/items/3592845" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F28%2F22%2F16%2F36%2F0240d373-8df1-4866-8e48-06ea0c74cbf9%2F94691_QPGJeHMFaaejOdrAQIZZzg.jpg" /></a><br>
        <span>Price: 4 000</span><br>
        <span>Location: Masazır q.</span>
      </div>
    
      <div>
        <a href="/items/3526418" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F30%2F16%2F02%2F36%2F509203ad-a2bc-4c2f-8bef-3689956d7150%2F14256_eNTx8ydFNCZZJtT1Lmoing.jpg" /></a><br>
        <span>Price: 236 000</span><br>
        <span>Location: Masazır q.</span>
      </div>
    
      <div>
        <a href="/items/3468252" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F05%2F21%2F00%2F59%2F5296ff1c-49d2-40df-920f-bb07da9e0522%2F36585_CpR0gVS8xNrhv6rPB1jBgg.jpg" /></a><br>
        <span>Price: 370 000</span><br>
        <span>Location: İnşaatçılar m.</span>
      </div>
    
      <div>
        <a href="/items/3497330" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F24%2F20%2F56%2F20%2Fe0aeb683-c572-4c3f-b315-e96def32fac5%2F98867_7DAlhuR36vwCUnBu6oTmIA.jpg" /></a><br>
        <span>Price: 153 000</span><br>
        <span>Location: 20 Yanvar m.</span>
      </div>
    
      <div>
        <a href="/items/3523970" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F29%2F15%2F56%2F14%2F2ea339df-8407-490a-a4f8-a1ad618006b6%2F77266_MZ1EC6jw7NBUe3HKF6mLiw.jpg" /></a><br>
        <span>Price: 420 000</span><br>
        <span>Location: Siyəzən</span>
      </div>
    
      <div>
        <a href="/items/3600814" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F03%2F01%2F53%2F50%2F95ba3977-ac36-4d4b-9789-55d8212b6a46%2F99036_OwjavSS9nGqb8RVGdATyhA.jpg" /></a><br>
        <span>Price: 107 000</span><br>
        <span>Location: Hövsan q.</span>
      </div>
    
      <div>
        <a href="/items/3628776" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F14%2F17%2F36%2F49%2Fbaa3e192-64ff-4274-8905-776e7a987974%2F35460_9-jzFzDhtIu1lPculFQYSQ.jpg" /></a><br>
        <span>Price: 20 000</span><br>
        <span>Location: Müşfiqabad q.</span>
      </div>
    
      <div>
        <a href="/items/3613465" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F08%2F08%2F36%2F21%2F2d4ea819-a093-4219-acd4-4b9fdf78d9d2%2F74283_qCmtmG1-aP225aMNe3Sbgw.jpg" /></a><br>
        <span>Price: 120 000</span><br>
        <span>Location: Novxanı q.</span>
      </div>
    
      <div>
        <a href="/items/2005153" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2021%2F04%2F05%2F20%2F12%2F44%2F8f565e64-c20e-4b4b-9da5-83fef9263b78%2F24230_3CVCabWYen-H8vL1gWb7WQ.jpg" /></a><br>
        <span>Price: 400 000</span><br>
        <span>Location: Qaraçuxur q.</span>
      </div>
    
      <div>
        <a href="/yasayis-kompleksleri/274" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F04%2F12%2F09%2F51%2F26%2Fc827c50f-9793-4b2d-b9ea-67e64e93c569%2F52765__Xv__SiJXUdkwIEk9-Q6ZA.jpg" /></a><br>
        <span>Price: 337 960</span><br>
        <span>Location: Yasamal r.</span>
      </div>
    
      <div>
        <a href="/items/2820777" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2022%2F06%2F03%2F11%2F08%2F01%2F07273111-d6be-45d2-a41d-17d361f58ead%2F38447_bRn1ie81HjVUWnpM-CEbvA.jpg" /></a><br>
        <span>Price: 4 700 000</span><br>
        <span>Location: Bilgəh q.</span>
      </div>
    
      <div>
        <a href="/items/3574462" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F20%2F14%2F23%2F31%2F073d2d38-90ea-4a9a-bf13-34050598c4f6%2F40793_zl3FcxsWGF9nlqygiUi3KA.jpg" /></a><br>
        <span>Price: 139 000</span><br>
        <span>Location: İnşaatçılar m.</span>
      </div>
    
      <div>
        <a href="/items/3629648" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F15%2F10%2F55%2F41%2F4d2731bb-e553-4bc6-b188-6342fe89da40%2F82037__o3_xJ2zPJlOxq5SwerWmQ.jpg" /></a><br>
        <span>Price: 1 300</span><br>
        <span>Location: 8 Noyabr m.</span>
      </div>
    
      <div>
        <a href="/items/3619368" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F10%2F19%2F58%2F08%2F5aea9a2c-c0d5-4623-889d-b30b6a19d512%2F82129_MYNXEnxN7B8vG3_IfyW_9Q.jpg" /></a><br>
        <span>Price: 490 000</span><br>
        <span>Location: Mehdiabad q.</span>
      </div>
    
      <div>
        <a href="/items/2737803" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2022%2F04%2F17%2F13%2F53%2F31%2F540b225f-8222-4672-bd8c-1cde514cc5cb%2F54646_45xE9KOrr4ghfx9fgZV2mA.jpg" /></a><br>
        <span>Price: 350 000</span><br>
        <span>Location: Mərdəkan q.</span>
      </div>
    
      <div>
        <a href="/items/3586213" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F25%2F13%2F29%2F36%2Facbe7783-8164-4dec-bef8-e1b3199ea9fb%2F98892__EtRDbev-Lj4pcW0AW8NHA.jpg" /></a><br>
        <span>Price: 6 750</span><br>
        <span>Location: İçəri Şəhər m.</span>
      </div>
    
      <div>
        <a href="/items/3431679" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F04%2F19%2F16%2F55%2F20%2Fcf2e1dd4-81b7-4c3d-87db-c11cffca99ea%2F52080_nZvmBFqBT2LV6gtik3H3ZQ.jpg" /></a><br>
        <span>Price: 1 570</span><br>
        <span>Location: Yasamal r.</span>
      </div>
    
        </div>
      </body>
    </html>
    <html>
      <head>
        <style>
          .image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
          }

          .image-container img {
            margin: 5px;
          }
        </style>
      </head>
      <body>
        <div class="image-container">
      <div>
        <a href="/items/3538388" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F04%2F22%2F49%2F43%2F8fefd627-3913-4b10-86bd-c2cf3ea2c087%2F65715_WBnSOR7e8UK8Mw_0tmPxTg.jpg" /></a><br>
        <span>Price: 188 000</span><br>
        <span>Location: Nəsimi r.</span>
      </div>
    
      <div>
        <a href="/items/3594570" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F29%2F19%2F08%2F52%2Fa018e2d2-1065-42f0-a96c-da249331de10%2F79824_xXFH4UZ1rsPTjLrnvevzEQ.jpg" /></a><br>
        <span>Price: 118 000</span><br>
        <span>Location: İnşaatçılar m.</span>
      </div>
    
      <div>
        <a href="/items/3625720" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F13%2F14%2F48%2F19%2Fd1e2bb75-c8e5-43ba-8811-083f25fe3049%2F35498_-tYGtl8X12wZdpr2DGgHxw.jpg" /></a><br>
        <span>Price: 83 000</span><br>
        <span>Location: Binəqədi q.</span>
      </div>
    
      <div>
        <a href="/items/2897923" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2022%2F07%2F19%2F18%2F30%2F52%2Fcd2df73e-b7bb-4b85-8699-1d87f2434293%2F32114_eJLTmcDSyEoYskmhqbLEUQ.jpg" /></a><br>
        <span>Price: 550</span><br>
        <span>Location: Nərimanov r.</span>
      </div>
    
      <div>
        <a href="/items/3570486" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F18%2F17%2F56%2F57%2F55c88eeb-bdbf-4564-b4e1-0b231328221f%2F98748_nSzJqFpMyGJl0pjtR-EomQ.jpg" /></a><br>
        <span>Price: 133 000</span><br>
        <span>Location: Memar Əcəmi m.</span>
      </div>
    
      <div>
        <a href="/items/3615962" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F09%2F12%2F27%2F27%2F913d136c-cc2b-49ad-8523-6b74fb3161ef%2F4863_Zatf3BkSxFMYMswiNWfZ_Q.jpg" /></a><br>
        <span>Price: 1 100</span><br>
        <span>Location: 28 May m.</span>
      </div>
    
      <div>
        <a href="/items/3627498" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F14%2F11%2F30%2F19%2F3a9d4c52-be8f-43cc-b428-4a8fdece3162%2F35443_jYF-HuT1MTxiWAhG4IplIQ.jpg" /></a><br>
        <span>Price: 173 000</span><br>
        <span>Location: Həzi Aslanov q.</span>
      </div>
    
      <div>
        <a href="/items/3598094" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F01%2F14%2F55%2F15%2F6faa4b5f-2cad-4a3c-8ba9-3c57837f7567%2F93347_GgOkD31Klp3sTsB-hNOiaA.jpg" /></a><br>
        <span>Price: 280 000</span><br>
        <span>Location: Nərimanov r.</span>
      </div>
    
      <div>
        <a href="/items/3575557" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F20%2F19%2F56%2F58%2F840581e1-d676-40a4-93c1-da7c723cc41b%2F60364_Ke7gQIm-PB0VdkdI7rzUGA.jpg" /></a><br>
        <span>Price: 95 000</span><br>
        <span>Location: Nərimanov r.</span>
      </div>
    
      <div>
        <a href="/items/3416617" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F04%2F13%2F15%2F09%2F07%2F4f75eff3-a349-4d6b-8dc1-d7df6eaec3a7%2F91458_6BDHTIUlq6sPRJrBirC5bA.jpg" /></a><br>
        <span>Price: 300 000</span><br>
        <span>Location: Elmlər Akademiyası m.</span>
      </div>
    
      <div>
        <a href="/items/1678258" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F25%2F17%2F22%2F02%2F6571663c-2a5c-47e6-bf48-ed5f9dfde45b%2F77320_bOXGSLRx2u2B8Tr34Q2ozw.jpg" /></a><br>
        <span>Price: 10 695</span><br>
        <span>Location: Nəsimi r.</span>
      </div>
    
      <div>
        <a href="/items/3624654" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F13%2F08%2F33%2F50%2F184ad416-ee3f-4574-a6a1-adc2ffcf83fb%2F82053_yyez1Pj-Iy6huyAeaBqigw.jpg" /></a><br>
        <span>Price: 250</span><br>
        <span>Location: Qəbələ</span>
      </div>
    
      <div>
        <a href="/items/3605255" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F04%2F18%2F47%2F50%2F2deba1cc-47fb-4f13-964b-069e64b2ffda%2F99078_tmw4iwbp8udb7GkwuyXa2Q.jpg" /></a><br>
        <span>Price: 129 000</span><br>
        <span>Location: 8 Noyabr m.</span>
      </div>
    
      <div>
        <a href="/items/3604076" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F04%2F13%2F14%2F45%2F0665c925-42da-49b5-9f28-5ccb46daeae1%2F98892_qjuf6-TM-TSmDBjPNqr-sg.jpg" /></a><br>
        <span>Price: 2 500</span><br>
        <span>Location: Ağ şəhər q.</span>
      </div>
    
      <div>
        <a href="/items/3379690" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F03%2F29%2F17%2F46%2F56%2Fec80cd60-2562-4fa5-884b-b1f32b4e7093%2F52826_wA8GvXvrByrFg04z-bsOIg.jpg" /></a><br>
        <span>Price: 50</span><br>
        <span>Location: 28 May m.</span>
      </div>
    
      <div>
        <a href="/items/3620744" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F11%2F14%2F24%2F15%2Fdf8fd803-e8f6-4066-89a9-bc7be00b17b9%2F35431_YdTyrJXpDe27m8X346ouoA.jpg" /></a><br>
        <span>Price: 77 000</span><br>
        <span>Location: Novxanı q.</span>
      </div>
    
      <div>
        <a href="/items/3622323" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F12%2F10%2F59%2F12%2F0fe89231-4794-42b0-93dd-cea8d4397212%2F40061_-eUp0O8iOGSbOE1tsMBtOA.jpg" /></a><br>
        <span>Price: 108 000</span><br>
        <span>Location: Memar Əcəmi m.</span>
      </div>
    
      <div>
        <a href="/items/3093029" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2022%2F11%2F11%2F10%2F57%2F26%2F1e6db467-7e40-451f-b851-82564973d4ad%2F58154_3gHLGd3bJzenjvSLxOXMOw.jpg" /></a><br>
        <span>Price: 900 000</span><br>
        <span>Location: Şüvəlan q.</span>
      </div>
    
      <div>
        <a href="/items/3604494" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F04%2F15%2F09%2F45%2Fffbdffa4-e72d-4ddb-81a2-5f3851c8d1fe%2F98749_NKouX0RNgr6KJQILSLXTmQ.jpg" /></a><br>
        <span>Price: 3 600 000</span><br>
        <span>Location: İçəri Şəhər m.</span>
      </div>
    
      <div>
        <a href="/items/3110760" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F30%2F23%2F00%2F07%2F048b50ed-1b95-45ba-867a-1080df43370e%2F77312_fquSEaXvAEryu-ef2fTG8A.jpg" /></a><br>
        <span>Price: 2 200 000</span><br>
        <span>Location: Badamdar q.</span>
      </div>
    
      <div>
        <a href="/items/3553421" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F11%2F06%2F42%2F50%2F8a7e3f0c-dea5-4096-bcf9-f6474037e18f%2F79823_O02HVhWHWgmw32lM_6aMWQ.jpg" /></a><br>
        <span>Price: 540 000</span><br>
        <span>Location: Mərdəkan q.</span>
      </div>
    
      <div>
        <a href="/items/3622552" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F12%2F11%2F45%2F55%2F78b8c68b-52d1-4801-b774-430a4aba5642%2F35458_LLURFno4QaF1ezIYBHKDOA.jpg" /></a><br>
        <span>Price: 295 000</span><br>
        <span>Location: Şah İsmayıl Xətai m.</span>
      </div>
    
      <div>
        <a href="/items/3631845" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F16%2F12%2F46%2F45%2Faf52cdb9-c872-4de8-adec-759f53ff639e%2F82146_zt5sCBA0IzcUFCjRNRvTXQ.jpg" /></a><br>
        <span>Price: 980 000</span><br>
        <span>Location: Mərdəkan q.</span>
      </div>
    
      <div>
        <a href="/items/3582478" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F23%2F16%2F37%2F49%2F3e5e7306-64b7-4352-8163-71ed3863d547%2F94691_jAfZhPzGB_L4WbVgf4s2fA.jpg" /></a><br>
        <span>Price: 350 000</span><br>
        <span>Location: Mərdəkan q.</span>
      </div>
    
      <div>
        <a href="/items/1005812" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2019%2F03%2F02%2F16%2F57%2F03%2F2c3855de-06ce-4f33-a9e2-2bafe88c7a71%2F50213_mj9VSrb-MAy2G5SOk0YXmw.jpg" /></a><br>
        <span>Price: 19 500</span><br>
        <span>Location: Nizami m.</span>
      </div>
    
      <div>
        <a href="/items/3532456" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F02%2F11%2F13%2F13%2F39045dec-5143-4445-9c98-93b9dc3720c8%2F40088_GbEkGkGiadGwq3lWn6mEVw.jpg" /></a><br>
        <span>Price: 76 500</span><br>
        <span>Location: NZS q.</span>
      </div>
    
      <div>
        <a href="/items/3582987" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F23%2F18%2F55%2F36%2Ffe985e1f-8aa7-4666-9969-4b87e1976e96%2F79843_K5Vj-cN1SqI6ughlpuN2gQ.jpg" /></a><br>
        <span>Price: 435 000</span><br>
        <span>Location: Nəsimi r.</span>
      </div>
    
      <div>
        <a href="/items/3625537" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F13%2F13%2F54%2F53%2F68fe055b-f309-44c6-8923-c1a37f27ab72%2F40051_0oYvA9Uy49UrEZ2VGql1Rw.jpg" /></a><br>
        <span>Price: 155 000</span><br>
        <span>Location: Həzi Aslanov m.</span>
      </div>
    
      <div>
        <a href="/items/2975925" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2022%2F09%2F05%2F11%2F13%2F37%2F7b96ba4d-a590-4b42-8beb-e6007dc745b4%2F32111_ZKNx0Br9AmXqmp4mfWjp3w.jpg" /></a><br>
        <span>Price: 349 000</span><br>
        <span>Location: Xəzər r.</span>
      </div>
    
      <div>
        <a href="/items/3629525" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F15%2F09%2F07%2F50%2Fe397de84-5705-4546-8d2a-1c33bfb26534%2F40035_4316CAZ2ViB6eKSiRndRwQ.jpg" /></a><br>
        <span>Price: 95 000</span><br>
        <span>Location: Abşeron r.</span>
      </div>
    
      <div>
        <a href="/items/3563526" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F24%2F19%2F01%2F52%2F5531e462-4495-492a-a967-8f8bef0a9cf8%2F79823_PCnt921s69wWrz6GGrF4xA.jpg" /></a><br>
        <span>Price: 118 000</span><br>
        <span>Location: Qara Qarayev m.</span>
      </div>
    
      <div>
        <a href="/items/2881101" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2022%2F07%2F08%2F10%2F04%2F44%2F7fe8feda-bd75-4c72-86f2-cc60743760f6%2F72124_KfRkyuo4-UAZcxOV2iIKYA.jpg" /></a><br>
        <span>Price: 466 000</span><br>
        <span>Location: Ağ şəhər q.</span>
      </div>
    
      <div>
        <a href="/items/3551228" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F09%2F23%2F13%2F56%2F6c144f04-d01f-4ddb-bf6c-4610067b1d9d%2F60326_QdWCnY71f2U3NdmDr48N3Q.jpg" /></a><br>
        <span>Price: 685 000</span><br>
        <span>Location: Nəsimi r.</span>
      </div>
    
        </div>
      </body>
    </html>
    <html>
      <head>
        <style>
          .image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
          }

          .image-container img {
            margin: 5px;
          }
        </style>
      </head>
      <body>
        <div class="image-container">
      <div>
        <a href="/items/3062796" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F24%2F02%2F10%2F22%2F17af77ff-1781-4cad-b95c-514f3323d0c3%2F15365_1ixHkvumK5jVATHdHlK_pQ.jpg" /></a><br>
        <span>Price: 970 000</span><br>
        <span>Location: Mərdəkan q.</span>
      </div>
    
      <div>
        <a href="/items/3592129" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F28%2F14%2F17%2F38%2Fc91e80fe-41e9-487e-ae34-5e2f386390e9%2F60316_egS2hyspc6Q5b9LfmeHZFA.jpg" /></a><br>
        <span>Price: 172 000</span><br>
        <span>Location: Nərimanov r.</span>
      </div>
    
      <div>
        <a href="/items/3454584" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F04%2F30%2F12%2F21%2F43%2Ffe8798e1-5e42-4430-a478-4141a942977b%2F36579_B_tabEpb4YuFEYy1en8Dyw.jpg" /></a><br>
        <span>Price: 215 000</span><br>
        <span>Location: Nəsimi r.</span>
      </div>
    
      <div>
        <a href="/items/3605749" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F05%2F08%2F50%2F14%2F8d3db3cc-c82c-4f08-ab1e-2bd7c395aa27%2F93735_2ZdIzq3AxXztQK_O3k3LGQ.jpg" /></a><br>
        <span>Price: 2 500</span><br>
        <span>Location: Nəriman Nərimanov m.</span>
      </div>
    
      <div>
        <a href="/items/3624508" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F12%2F22%2F10%2F34%2Fb0267e70-902c-4fcd-9613-4a331f459852%2F40026_3gLDCAnrMMyXqor_hTObzg.jpg" /></a><br>
        <span>Price: 258 000</span><br>
        <span>Location: Qara Qarayev m.</span>
      </div>
    
      <div>
        <a href="/items/3618404" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F10%2F14%2F53%2F21%2F39d62f99-0900-418d-b886-0737343189c6%2F35500_n4Lq2FiUDYvNjgg-RVR6AA.jpg" /></a><br>
        <span>Price: 290 000</span><br>
        <span>Location: Mərdəkan q.</span>
      </div>
    
      <div>
        <a href="/items/3592200" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F28%2F14%2F38%2F07%2F0cf3a756-71de-461b-9601-ded61a6a609d%2F60333_xzT3U7X-gVPo6j_puIhQzg.jpg" /></a><br>
        <span>Price: 200</span><br>
        <span>Location: Mərdəkan q.</span>
      </div>
    
      <div>
        <a href="/items/3604410" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F04%2F14%2F47%2F23%2F68ca10b5-991e-4acb-a64a-ffc854dd3484%2F98995_wmjY5Cz-5-uRkCoh7aFt5Q.jpg" /></a><br>
        <span>Price: 230 000</span><br>
        <span>Location: Sulutəpə q.</span>
      </div>
    
      <div>
        <a href="/items/3567849" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F17%2F12%2F10%2F35%2F847f6c61-0913-4932-ba4d-a575e9ec1049%2F93745_B397bP6uLzzr06Sv4SuYkw.jpg" /></a><br>
        <span>Price: 299 000</span><br>
        <span>Location: Şah İsmayıl Xətai m.</span>
      </div>
    
      <div>
        <a href="/items/2824499" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2022%2F06%2F05%2F15%2F10%2F32%2F27155ccc-748f-4cec-8106-772259c82d26%2F83832_9GZRi0BeCIF2V9BibJl6mQ.jpg" /></a><br>
        <span>Price: 570 000</span><br>
        <span>Location: Şüvəlan q.</span>
      </div>
    
      <div>
        <a href="/items/3440363" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F04%2F24%2F12%2F02%2F45%2F4abc47b2-3532-4600-bb22-5bfc371e4444%2F52771_0CZPWiQwGlavDld2t2CwNA.jpg" /></a><br>
        <span>Price: 4 900 000</span><br>
        <span>Location: Badamdar q.</span>
      </div>
    
      <div>
        <a href="/items/3613382" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F07%2F23%2F33%2F06%2F3dad2d24-1ffd-4964-9d26-03ac7672d156%2F74284_x5oD42LkxBEOiMudYRpbEA.jpg" /></a><br>
        <span>Price: 795 000</span><br>
        <span>Location: Nəsimi r.</span>
      </div>
    
      <div>
        <a href="/items/3507725" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F22%2F15%2F04%2F53%2Fba4e2678-39be-4c2a-b7dd-0bc460458001%2F15351_IujAYwO1kC2uTrAUdJQQzA.jpg" /></a><br>
        <span>Price: 420 000</span><br>
        <span>Location: Nardaran q.</span>
      </div>
    
      <div>
        <a href="/items/2635301" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2022%2F02%2F19%2F14%2F52%2F28%2F375ead94-f77f-445e-8895-bcead721219d%2F88875_lS7ckvn4VXXW0-fudg83Ng.jpg" /></a><br>
        <span>Price: 380 000</span><br>
        <span>Location: Mərdəkan q.</span>
      </div>
    
      <div>
        <a href="/items/3632236" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F16%2F15%2F42%2F15%2F622a4a00-dcb5-483e-a5af-ca364aecebc4%2F35466_oDxKgyiffHLlUu-kaOE2lw.jpg" /></a><br>
        <span>Price: 209 000</span><br>
        <span>Location: Memar Əcəmi m.</span>
      </div>
    
      <div>
        <a href="/items/3631385" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F15%2F22%2F57%2F52%2F791464ad-af70-498e-923d-2e3b4aff0cd8%2F35486_5KnST4976XtP1YWRflf5PA.jpg" /></a><br>
        <span>Price: 52 000</span><br>
        <span>Location: Sumqayıt</span>
      </div>
    
      <div>
        <a href="/items/3628271" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F14%2F15%2F08%2F34%2Ff747c690-26b9-4e0a-8702-7c0f49ae2686%2F35453_UVinkYUdjHhBEUcux9CMwA.jpg" /></a><br>
        <span>Price: 170 000</span><br>
        <span>Location: 9-cu mikrorayon q.</span>
      </div>
    
      <div>
        <a href="/items/3527507" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F31%2F09%2F57%2F44%2Fe6155505-fc46-450d-9fc5-a11757191887%2F52890_UfUJ9nMO00ZDJ_FY0Nk4GA.jpg" /></a><br>
        <span>Price: 115 000</span><br>
        <span>Location: Pirşağı q.</span>
      </div>
    
      <div>
        <a href="/yasayis-kompleksleri/280" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F01%2F10%2F27%2F18%2F46eea4b8-7fac-4b51-9b67-f38a65710302%2F35676_9DfveNM235GfPhoP9045mw.jpg" /></a><br>
        <span>Price: 148 490</span><br>
        <span>Location: Yasamal r.</span>
      </div>
    
      <div>
        <a href="/items/3608539" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F06%2F08%2F54%2F28%2Fe4663a0d-cca0-4b7d-92d2-a9f50aab8c28%2F21505_2fnRbRtdzCrkD8Eoj9kaCA.jpg" /></a><br>
        <span>Price: 71 000</span><br>
        <span>Location: Məmmədli q.</span>
      </div>
    
      <div>
        <a href="/items/3360715" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F03%2F21%2F02%2F56%2F35%2Fedad7eb1-0ca4-441c-8e4f-67618c192730%2F82245_3ItkmVhBksPnODVjxBD7DQ.jpg" /></a><br>
        <span>Price: 1 350 000</span><br>
        <span>Location: Buzovna q.</span>
      </div>
    
      <div>
        <a href="/items/2879134" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2022%2F07%2F07%2F14%2F31%2F03%2Ffcc7a99e-2f4b-4042-83b3-6fa146853f5b%2F26717_ps7oyo7hDPgJauE2e7mNaQ.jpg" /></a><br>
        <span>Price: 290</span><br>
        <span>Location: Qəbələ</span>
      </div>
    
      <div>
        <a href="/items/3282726" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F02%2F15%2F14%2F18%2F47%2F09ffe7a6-3758-40cf-b4e7-130413e98ad7%2F66260_lsy_DKBvSOnAPFX9vUqOug.jpg" /></a><br>
        <span>Price: 540 000</span><br>
        <span>Location: Şüvəlan q.</span>
      </div>
    
      <div>
        <a href="/items/3288528" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F02%2F17%2F16%2F15%2F38%2Fa48fc08d-8d6a-4412-8d5d-f2ed40d19a44%2F82506_bpixlAov8S8UkFsCPcPWZg.jpg" /></a><br>
        <span>Price: 349 000</span><br>
        <span>Location: Buzovna q.</span>
      </div>
    
      <div>
        <a href="/items/3307011" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F02%2F24%2F19%2F20%2F56%2F6a5398e3-a125-4d99-b2c8-604237477396%2F67561_VhPpBOgkmMw4w2ffRvJdiQ.jpg" /></a><br>
        <span>Price: 205 000</span><br>
        <span>Location: İnşaatçılar m.</span>
      </div>
    
      <div>
        <a href="/items/3252687" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F02%2F02%2F17%2F56%2F15%2F25f83a40-8682-407a-8e51-cc121ead8ed2%2F89906_KMdougTGI_pgw_IGOqTvGQ.jpg" /></a><br>
        <span>Price: 70 000</span><br>
        <span>Location: Saray q.</span>
      </div>
    
      <div>
        <a href="/items/3030606" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F30%2F10%2F59%2F50%2Fa20be6a3-fc6b-4e45-aa34-7a14201dcd4a%2F14294_hOCmLanDOBK5mrFTUnG0jQ.jpg" /></a><br>
        <span>Price: 385 000</span><br>
        <span>Location: Nardaran q.</span>
      </div>
    
      <div>
        <a href="/items/3571045" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F09%2F09%2F23%2F12%2Fcd7262e9-146e-4909-ab1a-ec92788d3d7c%2F74302_1DMiMbPJ00MVhFoqFmKQOw.jpg" /></a><br>
        <span>Price: 54 000</span><br>
        <span>Location: Xırdalan</span>
      </div>
    
      <div>
        <a href="/items/3438195" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F16%2F12%2F44%2F49%2F5de560f6-bd60-45db-9cb4-69a26385e124%2F35504_ng3gK8lVguVvrk77eAhPsA.jpg" /></a><br>
        <span>Price: 450 000</span><br>
        <span>Location: Həzi Aslanov q.</span>
      </div>
    
      <div>
        <a href="/items/3622103" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F12%2F02%2F50%2F22%2F9a81f1f7-50d1-4752-8e95-1706426472d8%2F35508_wl7cBpfs8kpw7U4iwvt9iQ.jpg" /></a><br>
        <span>Price: 99 000</span><br>
        <span>Location: Nəriman Nərimanov m.</span>
      </div>
    
      <div>
        <a href="/items/3508356" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F22%2F17%2F51%2F38%2F27cfd61a-0aed-4fc0-8e0f-96ea1c5c9e06%2F34351_IRCn-eqJ4UCEjTnrqWIiEQ.jpg" /></a><br>
        <span>Price: 45 000</span><br>
        <span>Location: Masazır q.</span>
      </div>
    
      <div>
        <a href="/items/3484093" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F12%2F15%2F42%2F32%2F216a3c33-3dda-428b-9aff-85239bdeb3f1%2F81195_ENU8V-8cAyB4U-ctu5xtpg.jpg" /></a><br>
        <span>Price: 1 208 500</span><br>
        <span>Location: İçəri Şəhər m.</span>
      </div>
    
      <div>
        <a href="/items/2833318" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F22%2F13%2F00%2F19%2Fe4836045-6923-4fa3-9efb-336b95b4c7e7%2F98987_11mWHHbHpYWIhryHmW3E7A.jpg" /></a><br>
        <span>Price: 467 760</span><br>
        <span>Location: 28 May m.</span>
      </div>
    
      <div>
        <a href="/yasayis-kompleksleri/70" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F24%2F16%2F30%2F38%2Ff085cd4d-417c-4521-a0af-eaa6efc78a80%2F14265_hcCUhRbJeCLMKZe4_EpIlQ.jpg" /></a><br>
        <span>Price: 355 920</span><br>
        <span>Location: 28 May m.</span>
      </div>
    
      <div>
        <a href="/items/2866272" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F22%2F13%2F04%2F56%2Ffe60b7b2-94ec-4acc-8504-9d0b39e5b0f7%2F93735_wWWt4VF4PV1j5LUYDFcg_g.jpg" /></a><br>
        <span>Price: 637 920</span><br>
        <span>Location: 28 May m.</span>
      </div>
    
        </div>
      </body>
    </html>