
    <html>
      <head>
        <style>
          .image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
          }

          .image-container img {
            margin: 5px;
          }
        </style>
      </head>
      <body>
        <div class="image-container">
      <div>
        <a href="https://bina.az//items/3611849" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F07%2F13%2F20%2F34%2F17a81de2-e640-4da8-ade0-a2d7cf130434%2F43670_waxLSzHq72dJbqaKFIWapQ.jpg" /></a><br>
        <span>Price: 990 000</span><br>
        <span>Location: Abşeron r.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3604527" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F15%2F07%2F06%2F48%2F57133c10-ad3d-4e6d-a132-56ab02c39d55%2F35488_C6ilEZyjuTdgt7FZJucJNg.jpg" /></a><br>
        <span>Price: 750 000</span><br>
        <span>Location: Nəsimi m.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3604952" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F04%2F17%2F18%2F25%2F8bcc3493-5130-4cb5-8502-c9df31869c04%2F79823_z5vXmL_42XNtOwME0Zr5Yw.jpg" /></a><br>
        <span>Price: 50 000</span><br>
        <span>Location: Novxanı q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3228022" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F01%2F23%2F13%2F38%2F55%2F541e2296-40d5-4377-a218-871a19049058%2F29487_nqMInsD2fvsdGnlklJHsSA.jpg" /></a><br>
        <span>Price: 250 000</span><br>
        <span>Location: Mərdəkan q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3511931" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F24%2F11%2F08%2F55%2F05ce89d3-a75a-4a8d-97ca-bcee313309e3%2F82477_aJxhgzY6Tc-o1qN2ErvLig.jpg" /></a><br>
        <span>Price: 250 000</span><br>
        <span>Location: Mərdəkan q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3614767" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F08%2F16%2F57%2F32%2F2913dc95-fdbd-4db6-a60d-4b19bbc0718e%2F43666_dxzd2kOktpSnwxQj4RjpJQ.jpg" /></a><br>
        <span>Price: 175 000</span><br>
        <span>Location: İnşaatçılar m.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3457625" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F01%2F18%2F09%2F08%2Fcad43a8f-88e0-44bf-ac40-708fb2c96b90%2F35677_TIyXAjSLAPKCa0A7iOiscw.jpg" /></a><br>
        <span>Price: 139 000</span><br>
        <span>Location: Həzi Aslanov m.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3360449" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F03%2F20%2F17%2F25%2F32%2Fdf99ab13-663a-4044-af82-a1ec52f1eaad%2F13434_RKMocpqsg4fevVtt1WFWTQ.jpg" /></a><br>
        <span>Price: 72 000</span><br>
        <span>Location: Şüvəlan q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//yasayis-kompleksleri/272" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2022%2F12%2F08%2F12%2F39%2F43%2F17e86954-08c1-4f91-93ab-66f86a0632b8%2F82251_0vXFha-aJXcNViuHDChbyQ.jpg" /></a><br>
        <span>Price: 174 900</span><br>
        <span>Location: Nəriman Nərimanov m.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3612623" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F07%2F16%2F41%2F20%2F687616a5-c2d4-4a16-adc6-9697b389893a%2F4857_tMmB4rcnv6uw1C5QqnohpQ.jpg" /></a><br>
        <span>Price: 1 100 000</span><br>
        <span>Location: Azadlıq Prospekti m.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3203588" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F01%2F11%2F19%2F07%2F57%2Fa9d31308-10f4-4b50-a5ab-dec25de15620%2F51245_pw8EosNX9EYKPci0jB9vDw.jpg" /></a><br>
        <span>Price: 328 800</span><br>
        <span>Location: Nəriman Nərimanov m.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3580788" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F22%2F22%2F16%2F24%2F434bb5eb-eaf1-4ea5-a9cd-4c2f160d9ebc%2F60348_C_0nn8dFMzeGM_IVQYS9kQ.jpg" /></a><br>
        <span>Price: 145 000</span><br>
        <span>Location: Albalılıq q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3502737" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F20%2F12%2F07%2F38%2F24029fe2-9098-4cf2-b4f9-dc72d5f200f2%2F81172_GZw4-_yd0BF3okcF82P-qw.jpg" /></a><br>
        <span>Price: 345 000</span><br>
        <span>Location: Nizami m.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3603968" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F04%2F12%2F38%2F59%2F150abbb0-57d4-4d7b-8142-9a4527832f91%2F98910_1OS0oepnS-0mZtvQBBRUew.jpg" /></a><br>
        <span>Price: 585 000</span><br>
        <span>Location: Nəsimi r.</span>
      </div>
    
      <div>
        <a href="https://bina.az//yasayis-kompleksleri/274" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F04%2F12%2F09%2F51%2F26%2Fc827c50f-9793-4b2d-b9ea-67e64e93c569%2F52765__Xv__SiJXUdkwIEk9-Q6ZA.jpg" /></a><br>
        <span>Price: 337 960</span><br>
        <span>Location: Yasamal r.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3609650" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F06%2F15%2F02%2F26%2F38a26987-016f-4cc8-a872-8a0bef33af55%2F66259_6NlX6PEexDjusuhi-jVZ5A.jpg" /></a><br>
        <span>Price: 135 000</span><br>
        <span>Location: 8-ci mikrorayon q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3561967" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F11%2F19%2F01%2F01%2Fd26ef3ce-3c40-4c69-9926-7ef7bb32d851%2F82070_QIfLZOydXhnUyZ0WXi62_A.jpg" /></a><br>
        <span>Price: 170 000</span><br>
        <span>Location: Şah İsmayıl Xətai m.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3615161" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F08%2F18%2F18%2F24%2F7d911d1d-7d24-43d0-89fd-98c7f1ea9373%2F74291_ZuNrQiGEaycH2Y2vnTr2mA.jpg" /></a><br>
        <span>Price: 164 000</span><br>
        <span>Location: Nəsimi m.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3622137" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F12%2F08%2F44%2F58%2Fdbd9589d-6a75-4139-85b7-47a89ef9bc5a%2F82146_rgQ-rOIwATWEvt1b4mFDAg.jpg" /></a><br>
        <span>Price: 2 200</span><br>
        <span>Location: Bakıxanov q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3583314" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F23%2F23%2F16%2F41%2F57673804-36a4-49e0-864d-38545cfa070d%2F60315_AW7-G-mlwvdFB22TAd63Hg.jpg" /></a><br>
        <span>Price: 245 000</span><br>
        <span>Location: Yasamal q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/2655796" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2022%2F03%2F02%2F15%2F27%2F16%2F28cc6a1a-397f-4539-8f7c-6ff376309e1a%2F57962_Bxr4vgxq8CDZVvRzX5jVKw.jpg" /></a><br>
        <span>Price: 225 000</span><br>
        <span>Location: Mərdəkan q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3608086" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F05%2F19%2F28%2F04%2Ffc9ec513-ec00-43b7-9982-6301b1028339%2F87761_mkMUMBnwm__c6Z0hvBlYcw.jpg" /></a><br>
        <span>Price: 890 000</span><br>
        <span>Location: Mərdəkan q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3625086" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F13%2F11%2F58%2F43%2Fb86c130f-9dd9-452b-a6ae-c47cd5ae16e8%2F40050_odR1khcD8XfsuJ1v1eVE3g.jpg" /></a><br>
        <span>Price: 2 900</span><br>
        <span>Location: Şah İsmayıl Xətai m.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3602951" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F03%2F18%2F58%2F44%2F0c972bda-102b-4674-be5f-e4385d7cae76%2F93340_EorRHu6F8lazYAjCSoF6Mg.jpg" /></a><br>
        <span>Price: 98 000</span><br>
        <span>Location: Bilgəh q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3627135" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F14%2F08%2F30%2F24%2F20c0e26e-bc43-45d2-aff0-4ad501054b8f%2F35448_A4hOvOQKkXR8f-bHEspA8A.jpg" /></a><br>
        <span>Price: 490 000</span><br>
        <span>Location: Mərdəkan q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3626831" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F13%2F20%2F17%2F26%2Fac835dc0-82c7-41f5-a4f5-a2905c27d43a%2F35464_OhgIO8VfeZsSDVdkgup2DQ.jpg" /></a><br>
        <span>Price: 3 500 000</span><br>
        <span>Location: Yasamal q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3521469" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F28%2F11%2F54%2F35%2F112bd9b8-f619-465f-b4f7-106bf4778126%2F77302_UKWg51atYVRrJ71mCaccPQ.jpg" /></a><br>
        <span>Price: 12 000</span><br>
        <span>Location: Binəqədi r.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3207612" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F01%2F13%2F17%2F12%2F16%2F483b6dea-9f5c-4aa1-a03d-4d4296a26d95%2F77417_qUZBsOfBfU2oviUBecxcJA.jpg" /></a><br>
        <span>Price: 220 000</span><br>
        <span>Location: Şüvəlan q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3631613" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F16%2F10%2F49%2F57%2F578f227e-1070-4271-adae-675fc76e21b8%2F82083_Fph7TJUN_y2yToO8Stum6Q.jpg" /></a><br>
        <span>Price: 160 000</span><br>
        <span>Location: Keşlə q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3600307" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F02%2F17%2F27%2F45%2F99157a9f-9bc2-4603-a465-0048d919b84b%2F30832_9OU1FgxHkKH_MFcmsVyIRQ.jpg" /></a><br>
        <span>Price: 8 000</span><br>
        <span>Location: Nardaran q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3463641" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F04%2F11%2F15%2F43%2F64e2ba52-4abb-4272-a3f9-ce694dbbe108%2F36594_ivqy-B3DaXjn2bTj6TQLKA.jpg" /></a><br>
        <span>Price: 1 450 000</span><br>
        <span>Location: Buzovna q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3589290" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F26%2F21%2F24%2F06%2F85d4ddda-b612-4b21-bfec-9ca8e8e0388e%2F60369_cV3ie_JxdhXg2K65KUf-bw.jpg" /></a><br>
        <span>Price: 178 000</span><br>
        <span>Location: Mərdəkan q.</span>
      </div>
    
        </div>
      </body>
    </html>
    <html>
      <head>
        <style>
          .image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
          }

          .image-container img {
            margin: 5px;
          }
        </style>
      </head>
      <body>
        <div class="image-container">
      <div>
        <a href="https://bina.az//items/3453212" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F04%2F29%2F15%2F09%2F07%2F48a0d4ec-cfa4-43ee-a701-0c5e78d40f6e%2F70696_VrswP0BgxuFqjSEYqXHsFA.jpg" /></a><br>
        <span>Price: 750 000</span><br>
        <span>Location: Mərdəkan q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3354177" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F14%2F12%2F49%2F16%2Fa90a0fa6-e0b8-4e18-b6cd-125df0338921%2F98910_8HfZFrf5NJ3KHa9lhaTPRw.jpg" /></a><br>
        <span>Price: 132 000</span><br>
        <span>Location: Həzi Aslanov q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/2533360" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2021%2F12%2F27%2F15%2F26%2F16%2Fa2b8b78c-886d-4df6-9cd7-85e9f6b45397%2F98367_i77JHiGMdsDOJEURQaJYFQ.jpg" /></a><br>
        <span>Price: 1 463</span><br>
        <span>Location: Suraxanı r.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3402119" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F04%2F07%2F17%2F50%2F51%2F84430d06-279b-4037-b22f-c2309f5cce6e%2F58527_L1gyS5QP9w8kwbMyQvaPbQ.jpg" /></a><br>
        <span>Price: 3 500</span><br>
        <span>Location: Nizami r.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3621768" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F11%2F19%2F23%2F23%2Fd914e169-9cca-446e-a022-179d32cc5fc0%2F82110_wZ-ewA3tlcW0HDW5ICh1pA.jpg" /></a><br>
        <span>Price: 285 000</span><br>
        <span>Location: İçəri Şəhər m.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3412429" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F04%2F12%2F00%2F27%2F44%2Fa930aa61-2c99-41b3-86e2-7ce54e34a94e%2F52075_V7jxuQlxRlE1N2pa011FSw.jpg" /></a><br>
        <span>Price: 148 000</span><br>
        <span>Location: Nəriman Nərimanov m.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3482823" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F12%2F10%2F24%2F59%2Fedbbb77c-ec6b-4319-92ec-b97d66341d09%2F36578_m8Uqfc2cEoRhJOj-p6-OfQ.jpg" /></a><br>
        <span>Price: 6 730</span><br>
        <span>Location: Nəriman Nərimanov m.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3587821" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F26%2F12%2F21%2F34%2Fc65ec8b7-9be6-4834-a507-8cfc7b5d7831%2F60318_Cx2LaTma3dnIakjdM9Jq2g.jpg" /></a><br>
        <span>Price: 137 000</span><br>
        <span>Location: Xalqlar Dostluğu m.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3515880" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F25%2F17%2F13%2F56%2F72dff047-71b1-4712-bc91-fc9c08df2996%2F14276_d_VWIV0ZM61kDeZF6M1XuA.jpg" /></a><br>
        <span>Price: 980 000</span><br>
        <span>Location: Masazır q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3538388" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F04%2F22%2F49%2F43%2F8fefd627-3913-4b10-86bd-c2cf3ea2c087%2F65715_WBnSOR7e8UK8Mw_0tmPxTg.jpg" /></a><br>
        <span>Price: 188 000</span><br>
        <span>Location: Nəsimi r.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3624507" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F12%2F22%2F08%2F39%2F396e1f4b-b2e0-42f4-a965-aeb10cef2962%2F81984_Y_QIZkfjM1cQV2EJ9uEekA.jpg" /></a><br>
        <span>Price: 118 000</span><br>
        <span>Location: Qara Qarayev m.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3440555" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F04%2F24%2F12%2F45%2F24%2F5a6456f5-db26-4e67-99ed-ca9ca87c3c9e%2F31083_lB9hYRrn3Qn-6Wk2EhzVyg.jpg" /></a><br>
        <span>Price: 175 000</span><br>
        <span>Location: Bayıl q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3624579" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F12%2F23%2F52%2F19%2Fc5654ffd-f0d5-479f-a8c6-ccb940c03072%2F82135_H-bP1-gI-KDPS7fHsuYNkw.jpg" /></a><br>
        <span>Price: 85 000</span><br>
        <span>Location: Xırdalan</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/2737803" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2022%2F04%2F17%2F13%2F53%2F31%2F540b225f-8222-4672-bd8c-1cde514cc5cb%2F54646_45xE9KOrr4ghfx9fgZV2mA.jpg" /></a><br>
        <span>Price: 350 000</span><br>
        <span>Location: Mərdəkan q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3419395" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F04%2F14%2F15%2F36%2F03%2F2c1b9a1b-9690-44af-8697-7dfddb80a3ad%2F52762_MvfgyglTLWlEuq_pwmETEw.jpg" /></a><br>
        <span>Price: 219 000</span><br>
        <span>Location: Nərimanov r.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3608087" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F05%2F19%2F40%2F55%2F5d6e4ae1-476c-46c6-bfa0-addc665b50d6%2F66260_dpSYdlpb8EI_hq8mOQCWWw.jpg" /></a><br>
        <span>Price: 126 000</span><br>
        <span>Location: Bilgəh q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3542763" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F24%2F15%2F34%2F41%2Ff4b22c08-2d05-4911-af26-4a199ae32033%2F98867_xwK3qU71EmDkPyoMgyvytg.jpg" /></a><br>
        <span>Price: 229 000</span><br>
        <span>Location: 28 May m.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3580504" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F22%2F18%2F58%2F55%2Fa41f2075-464f-4d66-9e43-d9387fbb6580%2F60349_lkr_CBi1o2bfqpXyuTSQrQ.jpg" /></a><br>
        <span>Price: 37 000</span><br>
        <span>Location: Sulutəpə q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3589290" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F26%2F21%2F24%2F06%2F85d4ddda-b612-4b21-bfec-9ca8e8e0388e%2F60369_cV3ie_JxdhXg2K65KUf-bw.jpg" /></a><br>
        <span>Price: 178 000</span><br>
        <span>Location: Mərdəkan q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3551050" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F09%2F20%2F56%2F49%2F362016ba-0c97-485b-95a0-f72869856ff0%2F60350_a-DSgA26FsKJqt6JZULy6Q.jpg" /></a><br>
        <span>Price: 170 000</span><br>
        <span>Location: Bilgəh q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3110620" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F01%2F13%2F01%2F14%2F09%2Fe21cd9a4-56fa-4c28-ad60-77e34fe1a754%2F3060_PU6PWdmE7o4iBBQwwzBnMA.jpg" /></a><br>
        <span>Price: 195 000</span><br>
        <span>Location: Yeni Yasamal q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3381765" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F03%2F30%2F15%2F12%2F54%2Fc11fb1f3-81ef-443b-8a35-1e572dbfb9b6%2F7473_mdrBErDMngD6iWLCF3ZJkw.jpg" /></a><br>
        <span>Price: 240 000</span><br>
        <span>Location: Keşlə q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3524699" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F05%2F29%2F20%2F19%2F28%2F0db6b284-8f95-4e95-8ccd-7149b5ab3ebb%2F14255_dJS7lHVKy_EGeYdez3--AA.jpg" /></a><br>
        <span>Price: 220 000</span><br>
        <span>Location: Buzovna q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3591524" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F27%2F23%2F08%2F45%2Fa856c60c-0dd6-4e87-8b66-c2c28c4b2ac9%2F93341_PBvxrSv0DIk64TAheM39Yw.jpg" /></a><br>
        <span>Price: 155 000</span><br>
        <span>Location: 20 Yanvar m.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/2729648" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F01%2F04%2F16%2F23%2F34%2Fe598283d-89c5-412e-a8ea-a9aba1da2f01%2F2550_9-VjyYFT5wxNQtpAdFGi4Q.jpg" /></a><br>
        <span>Price: 570 000</span><br>
        <span>Location: Nəsimi r.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3605410" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F04%2F20%2F05%2F05%2F6917ad64-df75-48d1-a602-3633472a4003%2F98869_gcXLyKrwrsz94Go19dogZA.jpg" /></a><br>
        <span>Price: 165 000</span><br>
        <span>Location: Məmmədli q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3393899" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F04%2F04%2F16%2F27%2F21%2F41b09425-ac54-49bf-9f39-9664377492c0%2F23090_eGl01SdnZfIxnvxdnGhXCg.jpg" /></a><br>
        <span>Price: 650 000</span><br>
        <span>Location: Biləcəri q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3631741" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F16%2F12%2F09%2F42%2Fdf24eac2-d89d-44af-976e-d4f0d00f71d0%2F82108_FDgOc7PN7bRq6U_FXi7TtA.jpg" /></a><br>
        <span>Price: 280 000</span><br>
        <span>Location: 28 May m.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3581760" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F06%2F23%2F13%2F04%2F10%2Fa016ac01-5b0b-49bc-9e9e-a09bcd53f16d%2F60327_YK8t2Uq_98DGsxsAPut9Ew.jpg" /></a><br>
        <span>Price: 578 000</span><br>
        <span>Location: Sahil m.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3605860" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F05%2F10%2F34%2F11%2F4ad22208-c57d-4179-9d06-141c8ee78d94%2F98873_Pgk9bwbhMpIUKFk3R65GcQ.jpg" /></a><br>
        <span>Price: 250</span><br>
        <span>Location: Novxanı q.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3625072" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2023%2F07%2F13%2F11%2F55%2F02%2Fb6acffa6-689d-4670-aefb-160bfec8eede%2F40044_JtSmACtjfsvv6WwCFY0V8Q.jpg" /></a><br>
        <span>Price: 1 800</span><br>
        <span>Location: Şah İsmayıl Xətai m.</span>
      </div>
    
      <div>
        <a href="https://bina.az//items/3169576" target="_blank"><img src="https://bina.azstatic.com/uploads/f460x345/2022%2F12%2F21%2F17%2F03%2F29%2F60867acf-74b3-463d-9096-a05f438e8be4%2F48788_3uranNL1TqTecVqpnWVfig.jpg" /></a><br>
        <span>Price: 195 000</span><br>
        <span>Location: Nəsimi r.</span>
      </div>
    
        </div>
      </body>
    </html>