<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi there, this is Emlakci Site</p>
        <p>You requested email confirmation on our Site!</p>
        <p>Here's your confirmation code: {{code}}</p>
        <p>Email Requested: {{email}}</p>
        
        <p>Regards,</p>
        <p>Emlakci!</p>
    </body>
</html>