<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi there, this is Emlakci Site</p>
        <p>You have recieved a new order!</p>
        <p>Name: {{name}}</p>
        <p>Email: {{email}}</p>
        <p>Phone: {{phone}}</p>
        <p>Message: {{message}}</p>
        <p>Regards,</p>
        <p>Emlakci!</p>
    </body>
</html>